{% load static %}
<link rel="stylesheet" href="{% static 'css/common/nav.css' %}" />
<link rel="stylesheet" href="{% static 'css/common/popup.css' %}" />

<nav class="navbar-container">
  <div class="logo-bar">
    <a class="logo-img" href="{% url 'mainpage' %}">
      <img src="{% static 'images/CAMPERCENT.svg' %}" alt="Campercent Logo" />
    </a>
    <div class="friend-icon-wrapper">
      <a class="friend-icon" href="#">
        <img
          src="{% static 'images/friend.svg' %}"
          alt="Friend List"
          id="friendIcon"
        />
      </a>
      <div class="friend-popup" id="friendPopup">
        <div class="popup-header">
          <div class="user-info">
            <img
              class="user-profile"
              src="{% if user.image_url %}{{ user.image_url }}{% else %}{% static 'images/profile-default.svg' %}{% endif %}"
              alt="프로필"
            />
            <p class="user-name">{{user.nickname}}</p>
          </div>
          <p class="level">LV.1</p>
        </div>
        <div class="popup-border"></div>
        <div class="links">
          <a class="profile" href="{% url 'profileModification' %}"
            >프로필 수정하기</a
          >
          <a class="logout" href="{% url 'logout' %}">로그아웃</a>
        </div>
      </div>
    </div>
  </div>
  <div class="menu-bar">
    <ul class="menu-list">
      <li
        class="menu-item {% if request.resolver_match.url_name == 'mainpage' %}active{% endif %}"
      >
        <a href="{% url 'mainpage' %}">HOME</a>
      </li>
      <li
        class="menu-item {% if request.resolver_match.app_name == 'friends' %}active{% endif %}"
      >
        <a href="{% url 'friends:friend_list' %}">FRIEND</a>
      </li>
      <li
        class="menu-item {% if request.resolver_match.app_name == 'feed' %}active{% endif %}"
      >
        <a href="{% url 'feed:feed_list' %}">FEED</a>
      </li>
    </ul>
  </div>
</nav>
<script src="{% static 'js/base/nav.js' %}"></script>
<script src="{% static 'js/base/popup.js' %}"></script>
