#header {
  display: flex;
  align-items: center;
  gap: 17px;
  padding: 16px;
  margin-bottom: 10px;
}

.registeration-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registeration-title {
  color: #000;
  font-size: 20px;
  font-family: "Moneygraphy-Rounded", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 17px; /* 85% */
  letter-spacing: -0.5px;
}

.image-upload-box {
  width: 358px;
  height: 263px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background-color: #1c2630;
  margin-bottom: 22px;
}

.image-upload-box img {
  width: 36px;
  height: 36px;
  background-color: inherit;
}

.upload-icon {
  width: 36px;
  height: 36px;
  z-index: 1000;
}

#real-upload {
  display: none;
}

.input-group {
  width: 358px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 30px;
}

input,
textarea {
  border: none;
  color: #8a8a8a;
  font-family: "Moneygraphy-Rounded", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  outline: none;
  width: 100%;
  height: 100%;
}

::placeholder {
  color: rgba(138, 138, 138, 0.5);
}

.img-input,
.place-input {
  border-radius: 10px;
  border: 2px solid #979797;
  width: 100%;
  display: flex;
  padding: 14px 17px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.description-input {
  border-radius: 10px;
  border: 2px solid #979797;
  width: 100%;
  height: 135px;
  display: flex;
  padding: 14px 17px;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  gap: 10px;
}

.input-label {
  color: #2a2a2a;
  font-size: 15px;
  font-style: normal;
  font-family: "Moneygraphy-Rounded", sans-serif;
  font-weight: 400;
  line-height: normal;
}

#charCount {
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
}

.input-condition {
  color: #8a8a8a;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 5px;
}

.public {
  width: 358px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

button {
  width: 358px;
  height: 45px;
  border-radius: 10px;
  background: #1061ff;
  border: none;
  color: #fff;
  text-align: center;
  font-family: "Moneygraphy-Rounded", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 29px;
}

.feed-public {
  color: #000;
  font-family: "Moneygraphy-Rounded", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px; /* 113.333% */
  letter-spacing: -0.5px;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
  margin-left: 10px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: rgba(16, 97, 255, 1);
}

input:checked + .slider:before {
  transform: translateX(22px);
}
