{% extends "baseNoneHeader.html" %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/page/introInputPage.css' %}" />

<div class="intro-input-container">
  <img src="{% static 'images/ako1.svg' %}" alt="akoq Image" class="ako1-img" />
  <form id="name-form" method="POST" action="{% url 'introInputPage' %}">
    {% csrf_token %}
    <div class="name">
      <div class="name-input">
        <input type="text" id="name" name="name" placeholder="이름" required />
      </div>
      <p class="name-condition">
        한글, 숫자, 영문으로 2~6자 이내로 작성해주세요.
      </p>
    </div>
    <button type="submit" class="name-button" disabled>확인</button>
  </form>
</div>

<script src="{% static 'js/page/introInputPage.js' %}"></script>

{% endblock content %}
