{% extends "baseNoneHeader.html" %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/accounts/signup/signup.css' %}" />

<div class="signup-container">
  <div id="header">
    <img
      src="{% static 'images/back-icon.svg' %}"
      alt="back icon"
      class="back-icon"
      onclick="history.back()"
      style="cursor: pointer"
    />
    <h1 class="signup-title">회원가입하기</h1>
  </div>
  <div class="signup-box">
    <form id="signup-form" method="POST" action="{% url 'signup' %}">
      {% csrf_token %}
      <div class="input-group">
        <label for="univ_name" class="input-label">학교명</label>
        <div class="univ-input">
          <input
            type="text"
            id="univ_name"
            name="univ_name"
            placeholder="본인의 학교를 입력해주세요."
            required
            class="required-input"
          />
        </div>
        <p class="input-condition">OO대학교 형식으로 입력해주세요.</p>
      </div>
      <div class="input-group">
        <label for="major_name" class="input-label">학과명</label>
        <div class="major-input">
          <input
            type="text"
            id="major_name"
            name="major_name"
            placeholder="본인의 학과를 입력해주세요."
            required
            class="required-input"
          />
        </div>
        <p class="input-condition">
          공식명칭으로 입력해주세요 (ex. 광홍 -> 광고홍보학과)
        </p>
      </div>
      <div class="input-group">
        <label for="number_name" class="input-label">학번(아이디)</label>
        <div class="number-input">
          <input
            type="text"
            id="number_name"
            name="number_name"
            placeholder="본인의 학번을 입력해주세요."
            maxlength="10"
            required
            class="required-input"
          />
        </div>
        <p class="input-condition">숫자 10자를 입력해주세요.</p>
      </div>
      <div class="input-group">
        <label for="password" class="input-label">비밀번호</label>
        <div class="password-input">
          <input
            type="password"
            id="password"
            name="password1"
            placeholder="비밀번호를 입력해주세요"
            required
            class="required-input"
          />
          <img
            src="{% static 'images/toggle-off-icon.svg' %}"
            alt="Toggle Password"
            class="toggle-icon"
            id="toggle-password"
            data-on="{% static 'images/toggle-on-icon.svg' %}"
            data-off="{% static 'images/toggle-off-icon.svg' %}"
          />
        </div>
        <p class="input-condition">
          영문대소문자, 숫자, 특수문자 8~12자 이내로 입력해주세요.
        </p>
      </div>
      <div class="input-group">
        <label for="password_check" class="input-label">비밀번호</label>
        <div class="password_check-input">
          <input
            type="password"
            id="password_check"
            name="password2"
            placeholder="비밀번호를 입력해주세요"
            required
            class="required-input"
          />
          <img
            src="{% static 'images/toggle-off-icon.svg' %}"
            alt="Toggle Password"
            class="toggle-icon"
            id="toggle-password_check"
            data-on="{% static 'images/toggle-on-icon.svg' %}"
            data-off="{% static 'images/toggle-off-icon.svg' %}"
          />
        </div>
        <p class="input-condition">비밀번호와 일치하지않습니다.</p>
      </div>
      <button type="submit" class="signin-button" disabled>회원가입하기</button>
    </form>
  </div>
</div>
<script src="{% static 'js/accounts/signup.js' %}"></script>

{% endblock content %}
