{% extends "baseNoneHeader.html" %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/page/registeration.css' %}" />

<div class="registeration-container">
  <div id="header">
    <img
      src="{% static 'images/back-icon.svg' %}"
      alt="back icon"
      class="back-icon"
      onclick="history.back()"
      style="cursor: pointer"
    />
    <h1 class="registeration-title">
      {% if quest %}{{ quest.title }}{% else %}퀘스트 인증{% endif %}
    </h1>
  </div>

  <form id="registeration" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input
      type="hidden"
      name="quest_id"
      id="questId"
      value="{{ quest.id|default:'' }}"
    />
    <div class="registeration-box">
      <div class="image-upload-box" id="uploadBox">
        <img src="{% static 'images/image.svg' %}" alt="image icon"
        class="upload-icon" id="uploadIcon"/ >
        <img id="previewImage" style="display: none" />
      </div>

      <input type="file" id="real-upload" name="image" accept="image/*" />

      <div class="input-group">
        <label for="image_name" class="input-label">사진명</label>
        <div class="img-input">
          <input
            type="text"
            name="image_name"
            placeholder="사진명을 입력해주세요"
            required
          />
        </div>
        <p class="input-condition">2~15자 이내로 작성해주세요.</p>
      </div>

      <div class="input-group">
        <label for="location" class="input-label">촬영장소</label>
        <div class="place-input">
          <input
            type="text"
            name="location"
            placeholder="촬영 장소를 입력해주세요."
            required
          />
        </div>
        <p class="input-condition">2~15자 이내로 작성해주세요.</p>
      </div>

      <div class="input-group">
        <label for="memo" class="input-label">메모</label>
        <div class="description-input">
          <textarea
            name="memo"
            id="descriptionTextarea"
            placeholder="사진에 대한 설명을 입력해주세요"
            maxlength="150"
          ></textarea>
        </div>
        <p class="input-condition" id="charCount">(0/150)</p>
      </div>

      <div class="public">
        <p class="feed-public">게시글 공개 여부</p>
        <label class="toggle-switch">
          <input
            type="checkbox"
            id="visibilityToggle"
            name="is_public"
            checked
          />
          <span class="slider"></span>
        </label>
      </div>

      <button type="submit" disabled>등록하기</button>
    </div>
  </form>
</div>

<script src="{% static 'js/page/registeration.js' %}"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var questIdInput = document.getElementById("questId");
    if (questIdInput && '{{ quest.id|default:"" }}') {
      questIdInput.value = "{{ quest.id }}";
    }
  });
</script>
{% endblock content %}
