{% extends "base.html" %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/page/friendpage.css' %}" />

{% csrf_token %}

<div class="page-container">
  <div class="search-section">
    <div class="search-input-wrapper">
      <img
        src="{% static 'images/search.svg' %}"
        alt="검색"
        class="search-icon"
      />
      <input type="text" placeholder="검색" class="search-input" />
    </div>
    <button class="add-btn">친구추가하기</button>
  </div>

  {% if friends %}
  <div class="friend-list">
    {% for item in friends %}
    <div class="friend">
      <div class="avatar" {% if item.friend.image %}style="background-image: url('{{ item.friend.image.url }}')"{% endif %}></div>
      <div class="friend-info">
        <div class="name">{{ item.friend.nickname }}</div>
        <div class="desc">{{ item.memo }}</div>
      </div>
      <div class="menu-wrapper">
        <div class="menu">⋮</div>
        <div class="more-menu hidden">
          <button class="friend-menu-item edit-btn">정보 수정</button>
          <button
            class="friend-menu-item delete-friend-btn"
            data-id="{{ item.friend.id }}"
          >
            친구 삭제
          </button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>

<!-- 정보 수정 팝업 -->
<div class="edit-modal hidden">
  <div class="edit-content">
    <div
      class="edit-avatar"
      style="background-image: url('{% static 'images/Ako.png' %}')"
    ></div>
    <div class="edit-name"></div>
    <div class="edit-desc-box">
      <textarea class="edit-desc" placeholder="메모를 작성해주세요 (ex. 학과 친구, 동아리)"></textarea>
    </div>
    <button class="edit-save-btn">수정하기</button>
  </div>
</div>

<!-- 친구 삭제 확인 팝업 -->
<div class="delete-modal hidden" id="deleteModal">
  <div class="delete-modal-content">
    <p class="delete-title">친구 삭제</p>
    <p class="delete-subtext">상대방은 해당 사실을 알 수 없어요</p>
    <div class="delete-buttons">
      <button class="cancel-btn">취소</button>
      <button class="delete-btn">삭제하기</button>
    </div>
  </div>
</div>

<!-- 서누 모달 (친구코드 입력) -->
<div class="add-modal hidden seonu-modal">
  <div class="add-modal-inner">
    <img src="{% static 'images/Ako.png' %}" alt="Ako" class="ako-img" />
    <div class="code-box">
      <div class="code-title">{{ user.nickname }}</div>
      <div class="code-input-box myinput">나의 코드: {{ friend_code }}</div>
    </div>
    <button class="code-input-btn">친구코드 입력</button>
  </div>
</div>

<!-- 친구 추가 팝업 -->
<div class="add-modal hidden">
  <div class="add-modal-inner">
    <img src="{% static 'images/Ako.png' %}" alt="Ako" class="ako-img" />
    <div class="code-box">
      <div class="code-title" style="text-align: left; width: 100%">
        친구코드
      </div>
      <div class="code-input-box">
        <input
          type="text"
          class="code-input"
          placeholder="6자리 문자를 입력해주세요."
          onfocus="this.placeholder = ''"
          onblur="this.placeholder = '6자리 문자를 입력해주세요.'"
        />
      </div>
    </div>
    <button class="friend-add-btn">친구 추가하기</button>
  </div>
</div>

<!-- 친구 추가 완료 후 메모 작성 팝업 -->
<div class="memo-modal hidden">
    <form method="POST" action="{% url 'friends:add_friend' %}" class="edit-content">
    {% csrf_token %}
  <div class="edit-content">
    <div
      class="edit-avatar"
      style="background-image: url('{% static 'images/Ako.png' %}')"
    ></div>
    <div class="edit-name">친구 추가 완료</div>
    <input type="hidden" name="friend_code" id="hiddenFriendCode" />
    <div class="edit-desc-box">
      <textarea
        name="memo"
        class="edit-desc"
        placeholder="메모를 작성해주세요. (ex. 학과 친구, 동아리)"
      ></textarea>
    </div>
    <button class="edit-save-btn memo-confirm-btn">확인</button>
  </div>
</div>

<script src="{% static 'js/page/friendpage.js' %}"></script>
{% endblock %}
